.comment.card(id= comment.id)
  .numbers.like-badge
    .number
      span.number.num-likes= comment.numLikes
    .button
      a.like.comment-like-btn(href='#', data-id=comment.id)
        i.fa.fa-thumbs-up
        | 
        | Like

  .card-body
    .content= comment.content
  .row.card-body
    .col-sm
    .col-sm.text-right
      .author
        | commented on #{moment(comment.createdAt).format('YYYY-MM-DD')}
        if comment.author
          | 
          | by #[a(href=`/users/${comment.author.id}`)= comment.author.name]
