.form-group
  label(for="title") 제목
  input.form-control(type="text", name="title", placeholder="제목을 입력하세요.", value=question.title)
.form-group
  label(for="question") 공모요강
  textarea.form-control(name="content", rows="10")= question.content
.form-group
  label(for="tags") 분야
  input.form-control(type="text", name="tags", placeholder="태그는 스페이스바로 구분됩니다.", value=question.tags ? question.tags.join(" ") : "")
.form-group
  label(for="imgURL") 이미지 URL
  input.form-control(type="text", name="imgURL", placeholder="이미지 URL을 입력하세요.", value=question.imgURL)
.form-group
  label(for="startDate") 접수시작일
  input.form-control(type="date", name="startDate", value=question.startDate)
.form-group
  label(for="endDate") 접수마감일
  input.form-control(type="date", name="endDate", value=question.endDate)
.form-group
  label(for="manager") 담당자
  input.form-control(type="text", name="manager", placeholder="담당자 이름을 입력하세요.", value=question.manager)
